#!/usr/bin/env bash

# Conda path
export CONDA_PATH="/home/nzinfo/miniforge3/"

# Activate the jupyter environment
source "$CONDA_PATH/etc/profile.d/conda.sh"
conda activate jupyter-dev

# Optional: Set project-specific environment variables if needed
export JUPYTER_CORESEEK_KANBAN_PROJECT_ROOT="$PWD"

